django>=4.2
 djangorestframework
 redis
 django-cors-headers
 requests
 celery
django-environ
psycopg2-binary
pytest
pytest-django
chromadb
sentence-transformers
 django-environ

chromadb
sentence-transformers
fastapi

annotated-types
anyio
asgiref
attrs
backoff
bcrypt
billiard
build
cachetools
celery
certifi
charset-normalizer
chromadb
click
click-didyoumean
click-plugins
click-repl
coloredlogs
distro
Django
django-cors-headers
django-environ
djangorestframework
durationpy
fastapi
filelock
flatbuffers
fsspec
google-auth
googleapis-common-protos
grpcio
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iniconfig
Jinja2
joblib
jsonschema
jsonschema-specifications
kombu
kubernetes
markdown-it-py
MarkupSafe
mdurl
mmh3
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pillow
pluggy
posthog
prompt_toolkit
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pybase64
pydantic
pydantic_core
Pygments
PyPika
pyproject_hooks
pytest
pytest-django
python-dateutil
python-dotenv
PyYAML
redis
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
sqlparse
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
triton
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
uvloop
vine
watchfiles
wcwidth
websocket-client
websockets
zipp
