transformers>=4.40.0
torch>=2.0.0
django>=4.2
 djangorestframework
 redis
 django-cors-headers
 requests
 celery
django-environ
psycopg2-binary
pytest
pytest-django
chromadb
sentence-transformers
 django-environ

chromadb
sentence-transformers
fastapi

annotated-types
anyio
asgiref
attrs
backoff
bcrypt
billiard
build
cachetools
celery
certifi
charset-normalizer
chromadb
click
click-didyoumean
click-plugins
click-repl
coloredlogs
distro
Django
django-cors-headers
django-environ
djangorestframework
durationpy
fastapi
filelock
flatbuffers
fsspec
google-auth
googleapis-common-protos
grpcio
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iniconfig
Jinja2
joblib
jsonschema
jsonschema-specifications
kombu
kubernetes
markdown-it-py
MarkupSafe
mdurl
mmh3
mpmath
networkx
numpy
pybase64
pydantic
pydantic_core
Pygments
PyPika
pyproject_hooks
pytest
pytest-django
python-dateutil
python-dotenv
PyYAML
redis
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
sqlparse
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers

typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
uvloop
vine
watchfiles
wcwidth
websocket-client
websockets
zipp
